<footer class="mt-5">
  <div class="container">
    <div class="row justify-content-between">
      <!-- Column 1 -->
      <div class="col-md-3 mb-3 d-flex flex-column  ">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante
        </p>
      </div>
      <!-- Column 2 -->
      <div class="col-md-3 mb-3 d-flex flex-column  ">
        <h5>Contact</h5>
        <ul class="list-unstyled">
          <li><a href="#">Email: s.taranjit97@gmail.com</a></li>
          <li><a href="#">Phone: 8699747574</a></li>
          <li><a href="#">Address: House no 532 Burail sector 45 Chandigarh</a></li>
        </ul>
      </div>
      <!-- Column 3 -->
      <div class="col-md-3 mb-3 d-flex flex-column  ">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">SiteMap</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">
      &copy; 2024 Your Company. All rights reserved.
    </div>
  </div>
</footer>
